body {
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
}

li {
    list-style: none;
}

.container .row {
    align-items: center;
    height: 100vh;
}


.container .row a {
    border: 1px solid linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    transform-origin: center;
    perspective: 1000px;
    border-radius: 8px;
    height: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    transition: all 1.5s;
    color: blue;
    overflow: hidden;
}

.container .row a:nth-child(2) i {
    margin-right: 7px;
    color: #ffa42cc7;
}

.container .row a:nth-child(4) i {
    margin-right: 7px;
    color: #53c45c;
}


.container .row a:nth-child(2),
.container .row a:nth-child(4) {
    transform: translateY(-20px);
}

.container .row a:nth-child(2):hover,
.container .row a:nth-child(4):hover {
    transform: translateY(-20px) rotateY(180deg);
}

.container .row a:hover {
    transform: rotateY(180deg);
}

.container .row a h3 {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all 1s;
}

.container .row a:hover h3 {
    opacity: 0;
    visibility: hidden;
    transition: all 0s;
}



.container .row a p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: all 0s;
}

.container .row a:hover p {
    transform: translate(-50%, -50%) rotateY(180deg);
    opacity: 1;
    visibility: visible;
    transition: all 1s;
    /* Đặt lại transform khi hover */
}

.modal-content {
    height: 65vh;
    transform: translateY(25%);
}

#bai1 .modal-body input,#bai3 .modal-body input {
    position: relative;
    outline: none;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #f8d7da;
    color: #f66d84;
    transition: all .5s;
}

#bai1 .modal-body input::placeholder,#bai3 .modal-body input::placeholder {
    color: #f857a283;
}

#bai1 .modal-body input:focus,
#bai3 .modal-body input:focus  {
    border-color: #f66d84;
}

.modal-body button {
    padding: 16px 27px;
    font-size: 14px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all 0.5s;
    border-radius: 30px;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2px;
}

.modal-body button:hover {
    background-position: right;
}

.modal-body .alert {
    display: none;
}

#bai2 h2 {
    margin: -52px 0 23px;
}

#bai2 ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 0px 0px 37px;
    margin: 10px 0;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    width: 110px;
    top: -12px;
    left: 41px;
}


#bai2 input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

#bai2 input[type="radio"]:checked~label {
    color: #d5ae3a;
}

#bai2 ul{
    padding-left: 50px;
}

#bai2 ul li {
    position: relative;
}




#bai2 ul li .check {
    display: block;
    position: absolute;
    border: 5px solid;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: -6px;
    left: 49px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

#bai2 ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 6px;
    width: 6px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
}

#bai2 input[type="radio"]:checked~.check {
    border: 5px solid #d5ae3a;
}

#bai2 input[type="radio"]:checked~.check::before {
    background: #d5ae3a;
}


#bai2 .modal-body button {
    margin-top: -29px;
}

/* #bai2 .modal-body .alert {
    display: none;
} */

